.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: rgb(68, 68, 68);
}

.item:not(:first-child) {
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

.btn {
  border: none;
  padding: 5px 10px;
  background-color: rgba(68, 221, 238, 0.8);
  color: rgb(225, 29, 71);
  margin-left: 20px;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;

  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(225, 29, 71);
  color: rgb(255, 255, 255);
}

.loader {
  position: absolute;
  top: 200px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  text-align: center;
}
