.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 4px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
  color: rgb(7, 7, 7);
}

.btn {
  border: none;
  padding: 8px 15px;
  background-color: rgba(68, 221, 238, 0.8);
  color: rgb(7, 7, 7);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;

  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(225, 75, 29);
  color: #fff;
}
